<ion-view view-title="RSS Feed">
  <ion-content>
    <ion-list ng-controller="FeedController" ng-init="init()">
      <ion-item ng-repeat="entry in entries" class="item" ng-click="browse(entry.link)">
        {{entry.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
