/*Parameteres buttons look*/
.button-settings {
    width:100%;
    height:auto;
    text-align:center;
    margin: 2% 0 0 0;
}
.golden-date{
    width:100%;
    text-align:left;
    color:lightslategray;
    margin:1% 0 0 0;
    font-size:14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.error-message2{
    font-weight: 200;
    font-style: italic;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 3%;
    margin: 2% 0 2% 2%;
    color: red;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0;
padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

/*Botm Tabs styling*/
.tabs-custom > .tabs,
.tabs.tabs-custom {
    height:auto;
}

/*Inside Text dynamique resizing and margin*/
.article-custom {
    line-height:120%;
    margin: 1%;
    font-family: Arial;
}
.custom-spinner{
    display:inline-block;
    margin:1% 3% 0 45%;
}
.image-article img{
    margin:2% 2% 1% 0;
    width: 100vw;
}
.video-article iframe{
    width: 100%;
}
.custom-spinner-menu{
    display:inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:14pt;
    padding-left:7px;
    color:#F0B840;
    vertical-align:37%;
}
.fav-custom{
    color:gold;
}
a.item span {
  white-space: normal !important;
}

/*Dark mode general : article;cards;*/
.dark-mode{
    color:#F0F1F1;
    /*background-color:#403B3B;*/
    border-color:#292727;
    border-style: none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,000000+0,000000+0,282828+9,494949+44,444444+56,444444+56,1c1c1c+91,131313+100 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(40,40,40,1) 9%, rgba(73,73,73,1) 44%, rgba(68,68,68,1) 56%, rgba(68,68,68,1) 56%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 0%,rgba(0,0,0,1) 0%,rgba(40,40,40,1) 9%,rgba(73,73,73,1) 44%,rgba(68,68,68,1) 56%,rgba(68,68,68,1) 56%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 0%,rgba(0,0,0,1) 0%,rgba(40,40,40,1) 9%,rgba(73,73,73,1) 44%,rgba(68,68,68,1) 56%,rgba(68,68,68,1) 56%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}
.dark-mode .card, .dark-mode .subdark{
    color:#F0F1F1;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#34373a+0,292b2d+10,000000+50,292b2d+91,34373a+100 */
background: rgb(52,55,58); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(52,55,58,1) 0%, rgba(41,43,45,1) 10%, rgba(0,0,0,1) 50%, rgba(41,43,45,1) 91%, rgba(52,55,58,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(52,55,58,1) 0%,rgba(41,43,45,1) 10%,rgba(0,0,0,1) 50%,rgba(41,43,45,1) 91%,rgba(52,55,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(52,55,58,1) 0%,rgba(41,43,45,1) 10%,rgba(0,0,0,1) 50%,rgba(41,43,45,1) 91%,rgba(52,55,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34373a', endColorstr='#34373a',GradientType=1 ); /* IE6-9 */

}
.dark-mode h3{
    color:white;
}
.dark-mode .ion-refresher{
    color:gold;
}
.test-mode, .test-mode .card, .test-mode .subdark, .test-mode h3{color: lightslategray;}

/*CSS for article text*/
.headline {
    text-align: left;
    line-height: normal;
    font-family: Cambria;
    display: block;
    margin: 0 auto;
}
.headline.hl1{
    text-align:left;
    margin: 0 1%;
    font-weight:bold;
    font-size: 22px;
    box-sizing: border-box;
    padding: 4px 0;
}

.headline.hl2{
    box-sizing: border-box;
    font-weight: bold;
    font-size: 22px;
    padding: 4px 0;
}
.headline.hl3{
    box-sizing: border-box;
    font-weight:bold;
    font-size: 22px;
    margin: 2% 0 2% 2%;
    padding: 10px 0 0 0;
}
.headline.hl4{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    margin: 2% 0 2% 2%;
}


ion-content.sidemenu,
ion-content.sidemenu .list {
  background-color: #333333 !important;

}
ion-content.sidemenu .scroll-content,
ion-content.sidemenu .list .scroll-content {
  background-color: #333333 !important;
}
ion-content.sidemenu .item,
ion-content.sidemenu .list .item {
  border-color: gray;
}
ion-content.sidemenu .item:nth-child(1) a, ion-content.sidemenu .item:nth-child(2) a,
ion-content.sidemenu .list .item:nth-child(1) a,
ion-content.sidemenu .list .item:nth-child(2) a {
  color: white;
}
ion-content.sidemenu .item a,
ion-content.sidemenu .list .item a {
  background-color: #333333;
  color: #F0F1F1;
}
ion-content.sidemenu .item.item-divider,
ion-content.sidemenu .list .item.item-divider {
  border-color: transparent;
  height: 100px;
  background-color: #808A8F;
}

.dark {
  background-color: #333333 !important;
  color: #F0F1F1;
}

/*Set the background to transparent for ion-item*/
.dark .item {
  background-color: transparent;
  border: none;
  border-top: 1px solid;
  border-bottom: 2px solid;
  border-color: #333333;
  color: #F0F1F1;
}

/*Changes the border for the last item*/
.dark .item:last-child {
  border-bottom: 1px solid #333333;
}

/*Ion-item adds item-complex and an inner div, .item-content*/
/* this needs to be transparent too, but doesnt need borders*/
.dark .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark a,
.dark{
  color: #F0F1F1;
}

.sick-background{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f1400+2,8f0222+44,6d0019+100 */
background: rgb(15,20,0); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(15,20,0,1) 2%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(15,20,0,1) 2%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(15,20,0,1) 2%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1400', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */
}
.bar-header {background-color: #000 !important;}
.tabs-striped.tabs-dark .tabs {background-color: #000;}
.material {
    border-width: 0;
    white-space: normal !important;
}
.material .title {
    font-size: 18px;
}
.material.article {    padding: 0;    margin: 0;}
.material.article img {border: 0 solid #333;}
.material.article .cont {
    padding: 10px 15px 15px 15px;
    line-height: 100% !important;
}
.material.article .title {
    font-size: 20px;
    font-weight: bold;
    line-height: 110% !important;
    padding-bottom: 10px !important;
}
.material.article .cont {
    font-size: 12px !important;
    line-height: 110% !important;
}
.material.article .cont .desc{line-height: 130% !important;}
.material.news {
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
    padding: 7px 30px 7px 6px;
}
 .list .material.news.item{
     /*box-shadow: inset 0 -1px 0 0 rgba(170,180,180,0.2),  inset 0 0 0 0 rgba(100,100,100,0.3);*/
}
.material.news .title {
    font-size: 15px;
    line-height: 120%;
}
.material.news .headline.hl1{
    font-family: 'PT Sans Caption', sans-serif;
}
.material.news .news_date {
    border-bottom: 4px solid #FFE58A;
    margin: 10px 0;
}
.material.news .news_date span {
    background-color: #FFE58A;
    color: #555;
    padding: 0 10px;
}
.material.news .news_time {
    float: left;
    width: 55px;
    padding-left: 10px;
}
.material.news .news_cont {
    border-bottom: 2px dotted #aaa;
    float: right;
    font-weight: normal;
    padding: 0 0 10px 0;
    width: calc(100% - 65px);
}
.material.news .news_cont.w {
    font-weight: bold;
    width: calc(100% - 40px);
}
.top_news .material.news:last-child .news_cont
, .last_news.no_scroll .material.news:last-child .news_cont
{border-width: 0;}

.top_news .list {margin-bottom: 10px;}
.top_news .divide,
.last_news .divide,
.divide
{
    padding: 0 0 0 15px;
    margin-bottom: 7px;
    border-bottom: 2px solid #E0E0E0;
}
.readmore .divide { padding: 0; }
.last_news .divide {padding-left: 15px;}
.divide div {
    background-color: #fff;
    color: #919295;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}
.article-custom {
    margin: 1% 0;
}
.material_cont {
    font-size: 16px;
    line-height: 140%;
    margin: 0 3%;
    padding: 0 10px;
}
.material_cont h3 {
}
.material_cont a {text-decoration: none;}
.material_cont iframe {
    overflow: scroll !important;
}
.material_cont .insert_video_iframe iframe {
    width: calc(100vw - 40px) !important;
    /*height: auto;*/
    /*overflow: scroll;*/
}
.material_title {
    font-family: "Cambria",sans-serif;
    font-size: 20px;
    line-height: 120%;
    margin: 10px 0 7px 0 !important;
    padding: 0;
}
.material_title2 {
    border-bottom: 1px solid #E0E0E0;
    color: #666;
    font-family: "Cambria",sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.material_author,
.material_author a {
    color: #0546ae;
    /*color: #666;*/
    font-weight: bold;
    padding-right: 10px;
    text-decoration: none;
}
.material_author:nth-last-child:after {
    content: ", "
}
.author {
    font-size: 24px;
    margin: 20px;
    text-align: center;
}
.allauthor {
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
}
.material.article .date {
    padding-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}
/* text-align: right; */
.material_date {color: #8c8c8c;font-size: 80%; white-space: nowrap;}
.material_img img
,img.material_img {
    margin: 2% 0 0 0;
    width: 100vw;
}
.material_img_share {
    display: none;
    height: 183px;
    margin-left: 0 auto; /*margin: -200px auto 0 auto;*/
    top: 35px;
    position: absolute;
    width: 100%;
}
.material_img_share.clicked {display: block;}
.material_img_share .share_cont {
    background-color: rgba(0,0,0, 0.6);
    height: 100%;
    color: #fff;
    margin: 5px auto 0 auto;
    padding: 0 20px 10px 20px;
    text-align: center;
    width: 200px;
}
.material_img_share button {
    display: block;
    margin: 20px auto 0 auto;
    width: 120px;
}
.material_img_name {
    color: #3F3F3F;
    font-size: 10px;
    line-height: 10px;
    margin: 0 10px;
}
.material_img_author {
    color: #8c8c8c;
    font-size: 10px;
    font-style: italic;
    line-height: 10px;
    margin: 0 10px;
}
.share .btn {
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 20px;
}
.share {padding-top: 5px;}
.share .btn {padding: 0 5px 0 10px;}
.share .btn span {font-size: 12px;padding-left: 10px;}
.share .btn.ion-social-facebook {background-color: #3B5998;}
.share .btn.ion-social-twitter {background-color: #41ABE1;}
.share .btn.ion-social-vkontakte {background-color: #4D75A3;}
.share .btn.ion-social-googleplus {background-color: #DB4437;}


.material_cont.readmore {margin-top: 15px;}
.readmore .material {
    overflow: hidden;
    display: block;
}
.readmore .material.article.item {margin-bottom: 20px;}
.readmore .material.article .topitem__pic {
    float: left;
    margin-right: 15px;
    width: 35%;
}
.readmore .material.article .topitem__pic img {width: 100%;}
.readmore .material.article .topitem__content {
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    padding-left: 130px;
    padding-bottom: 10px;
}
.readmore .material.article .topitem__content.left {float: left; padding-left: 0;}
.slider {height: calc(270px + 0px);    /*visibility: visible;*/}
.swiper-pagination {    visibility: visible !important;}
.slider .gallery_counter {
    padding-right: 2%;
    text-align: right;
    color: #8f8f8f;
}
.slider .gallery_counter .icon {
    color: #8f8f8f;
    font-size: 1.8em;
    float: left;
    padding: 0 10px;
}
.slider .gallery_counter a.icon.clicked {color: #000;}
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.subitem {border-color: #eee;padding: 0 3% 0 15%;}
.list .item.item-accordion.subitem a {padding: 0; font-size: 14px;}
.list .item.item-accordion.ng-hide {line-height: 0;}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {display: block !important;}

.cbordo {color: #903;}
.title-image {
    position: absolute;
    margin-left: -50px;
}
.lenta_gallery .title {text-align: center;}
.lenta_gallery img {display: block; margin: 0 auto;}

.label {
    background-color: #FFE58A;
    position: absolute;

    /*background-color: #fff;
    color: #aaa;
    border-radius: 0;
    font-size: 16px;
    height: 30px;
    margin-top: -34px;
    margin-top: -25px;
    margin-left: 15px;
    padding: 5px 15px 5px 10px;*/

    color: #000;
    font-weight: bold;
    font-size: 13px;
    height: 24px;
    margin-top: -22px;
    margin-left: 15px;
    padding: 2px 10px;
}
.label.orange {background-color: #FFE58A; color: #000;}
.label.bordo {background-color: #903; color: #fff;}
.label.lime {background-color: #9CC559; color: #fff;}
.article_img {
    margin-bottom: 10px;
}
.dot {font-size: 15px;padding: 0 10px;}
@media only screen and (max-width: 720px) {
    .material_cont p img {float: none !important; margin: 0 auto !important; display: block;}
}
.twitter-tweet {
    border: 1px solid #55ACEE !important;
    border-left-width: 5px !important;
}
.twitter-tweet:before {
    content: "Twitter";
    color: #55ACEE;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2072%2072"><path%20fill%3D"none"%20d%3D"M0%200h72v72H0z"%2F><path%20class%3D"icon"%20fill%3D"%2355acee"%20d%3D"M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z"%2F><%2Fsvg>');
    background-repeat: no-repeat no-repeat;
    background-position: calc(100% - 55px) 0;
    display: block;
    text-align: right;
    margin-bottom: 10px;
}
.isa_error.err_show,
.isa_error.err_plashka {
    background-color: #D8000C;
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-align: center;


    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;

    display: block !important;
    top: 44px;
}
.isa_error.err_plashka {position: static; background-color: blue; }
.fav {
    position: absolute;
    right: 0;
    top: -16px;
}
.bar-dark .fav {
    top: 4px;
    right: 4px;
}
.fav a {
    color: red;
    color: #aaa;
    color: gold;
    font-size: 25px;
    margin-right: 8px;
    margin-top: 5px;
}
.fav a.yes {color:gold;}
.author {
    /*height: 55px;*/
    /*margin-bottom: 0;*/
}
.author.ava {
    height: 55px;
    margin-bottom: 0;
    padding-left: 115px;
}
.author_avatar {
    background-color: #ffe58a;
    padding: 0 15px;
    position: absolute;
    top: -20px;
}
.author_avatar img {
    vertical-align: bottom;
}
.readmore .material.news .topitem__content {
    font-weight: normal;
    border-bottom: 2px dotted #aaa;
    padding-bottom: 10px;
}
.material.article.gallery img {
    position: absolute;
}
.material.article.gallery .cont {
    /*background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 30%, transparent 21%);*/
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%, transparent 51%);
    border-bottom: 2px solid #000;
    color: #fff;
    height: 216px;
    position: relative;
    padding-bottom: 10px;
}
.material.article.gallery .cont .title {
    bottom: 0;
    position: absolute;
    text-align: left;
}
.article-custom .part:first-child {padding-top: 5px;}
.tab-item.tab-item-active {border-top: 4px solid #ffe58a !important;}
.favitem {
    border-bottom: 1px solid #999;
    border-width: 0;
    padding: 10px;
    /*padding-top: 20px;*/
    padding-bottom: 0;
    text-align: left;
}
.favitem img {
    width: 30% !important;
    float: left;
    padding: 0 10px 10px 0;
}
.favitem .padd {
    padding-left: 110px;
    display: block;
}
.material_model {
    margin: 0 auto;
    border-bottom: 1px solid #333;
    text-align: center;
    margin-bottom: 10px;
    border-color: #777;
}
.material_model div {
    background-color: #222;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 0 10px;
    top: 0;
    margin: 0 auto;
    /*left: 10px;*/
    position: absolute;


    background-color: #fff;
    color: #555;
    color: #aaa;
    top: 8px;
    border-color: transparent;
    position: relative;
    width: 90px;
}