﻿<ion-view view-title="Подробнее" ng-class="{'dark-mode': checkdark()==='true'}">
  <ion-content overflow-scroll="true" class="has-header article-custom">
      <ion-refresher on-refresh="doRefresh()" refreshing-text="Загружаем" pulling-text="Обновить" spinner="bubbles">
      </ion-refresher>
      <div ng-show="fail" class="isa_error">Идет загрузка, обновите страницу.</div>
      <div ng-show="isOffline" class="isa_warning">Видео не будут показаны в оффлайн режиме.</div>
    <h3 ng-bind-html="titleA" class="article-custom headline hl3" ></h3>
    <i ng-bind-html="authorA"></i>
    <i ng-bind-html="dateA" class="article-custom headline hl4"></i>
    <div ng-if="alreadyFav">
      <a class="button button-icon icon ion-android-star fav-custom" ng-click="fav(false)"></a>
    </div>
    <div ng-if="!alreadyFav">
      <a class="button button-icon icon ion-android-star-outline fav-custom" ng-click="fav(true)"></a>
    </div>
    <div class="article-custom" ng-style="{'font-size': checkblind()+'%'}">
      <div ng-repeat="par in text" >
        <div ng-if="par.includes('img') && !par.includes('.gif')" class="image-article" ng-bind-html="par | to_trusted">
        </div>
        <div ng-if="par.includes('iframe') && par.includes('http') && !isOffline" ng-bind-html="par | to_trusted"></div>
        <div ng-if="!par.includes('img') && !par.includes('iframe')" ng-bind-html="par | to_trusted">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
