﻿<meta charset="UTF-8">
<ion-view view-title="{{header}}" ng-class="{'dark-mode': checkdark()==='true'}">
  <ion-content overflow-scroll="true" class="has-header">
    <!--<div ng-if="RSS.image">-->
    <div ng-if="true">
      <ion-list ng-init="init()">
        <ion-item ng-repeat="entry in entries" class="favitem item-image" ng-class="{'dark-mode': checkdark()==='true'}" ng-click="showMaterial(entry.model, 'url', entry.id)">
          <!--<img ng-if="entry.img != ''" ng-src="{{entry.img}}" ng-click="showImages($index)" class="image-list-thumb" />-->
          <!--<b ng-class="{'padd': entry.img != ''}" style="white-space: normal !important;" >{{entry.title}}</b><br>-->
          <div class="material_model"><div>{{entry.model | showLabelModel}}</div></div>
          <b ng-class="" style="white-space: normal !important;" >{{entry.title}}</b><br>
          <span style="white-space: normal !important;" ng-bind-html="entry.description" ng-style="{'font-size': checkblind()+'%', 'line-height':'120%'}"></span>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="false">
      <ion-list ng-init="init()">
        <ion-item ng-repeat="entry in entries" class="favitem" ng-class="{'dark-mode': checkdark()==='true'}" ng-click="showMaterial(entry.model, 'url', entry.id)">
          <b style="white-space: normal !important;" >{{entry.title}}</b><br>
          <span style="white-space: normal !important;" ng-bind-html="entry.description" ng-style="{'font-size': checkblind()+'%', 'line-height':'120%'}"></span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
