<ion-side-menus enable-menu-with-back-views="true" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark" align-title="center">

      <ion-nav-buttons side="right" class="button button-clear button-positive">
          <div class="fav" ng-if="material.id != null && showStar == 1">
            <a class="icon ion-android-star" ng-class="{'ion-android-star-outline': material.favorite != 1, 'ion-android-star': material.favorite == 1}" ng-click="toggleFavorites()"></a>
          </div>
      </ion-nav-buttons>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- TABS -->
    <ion-tabs class="tabs-icon-bottom tabs-dark tabs-custom" >
      <!--<ion-tab class="tab-custom" title="{{HEADERS.main}}" icon="ion-flame" href="#/app/new">-->
      <ion-tab class="tab-custom" title="{{HEADERS.main}}" icon="ion-flame" on-tap='ChooseItem({route: "Lenta"})'>
        <ion-nav-view name="tab-new"></ion-nav-view>
      </ion-tab>
      <ion-tab title="{{HEADERS.favorites}}" icon="ion-star" href="#/app/fav">
        <ion-nav-view name="tab-fav"></ion-nav-view>
      </ion-tab>
      <!--<ion-tab title="{{HEADERS.options}}" icon="ion-gear-b" href="#/app/param">-->
        <!--<ion-nav-view name="tab-param"></ion-nav-view>-->
      <!--</ion-tab>-->
    </ion-tabs>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- side menu left -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">{{HEADERS.menu}}</h1>
    </ion-header-bar>
    <ion-content ng-class="{'sidemenu dark':checkdark()==='true'}" ng-controller="MenuCtrl">
      <ion-list ng-class="{'list':checkdark()==='true'}">

        <!--<ion-item menu-close href="#/app/Lenta/Main/0">{{HEADERS.main}}</ion-item>-->
        <!--<ion-item menu-close href="#/app/Lenta/News/all">{{HEADERS.news}}</ion-item>-->
        <ion-item menu-close ng-click='ChooseItem({route: "Lenta"})'>{{HEADERS.main}}</ion-item>
        <ion-item menu-close ng-click='ChooseItem({route: "getNews"})'>{{HEADERS.news}}</ion-item>

        <!--<ion-item menu-close  ng-click='Choose({page: 0})'>Новости</ion-item>-->
        <!--<div ng-repeat="group in groups">-->
        <ion-item class="item-stable" ng-class="{active: isGroupShown(article_cats)}" ng-click="toggleGroup(article_cats)">
          <i class="icon" ng-class="isGroupShown(article_cats) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp; <!--ion-chevron-down-->
          {{HEADERS.articles}}
        </ion-item>
        <ion-item class="item-accordion subitem"
                  ng-repeat="item in article_cats.items"
                  ng-show="isGroupShown(article_cats)"
                  ng-click="Choose({header: item.title, category: item.name})"
                  menu-close>
                  <!--href="#/app/Lenta/Articles/{{item.name}}"-->
          {{item.title}}
        </ion-item>
        <!--</div>-->

        <ion-item menu-close ng-click='Choose({category: "interviews", header: "{{HEADERS.interview}}"})'>{{LABELS.interview}}</ion-item>
        <ion-item menu-close ng-click='Choose({category: "opinions", header: "{{HEADERS.opinion}}"})'>{{LABELS.opinion}}</ion-item>
        <ion-item menu-close ng-click='openGalleries({category: "gallery", header: "{{HEADERS.gallery}}"})'>{{LABELS.gallery}}</ion-item>
        <ion-item menu-close ng-click='Choose({category: "tv", header: "{{HEADERS.tv}}"})'>{{LABELS.tv}}</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

