﻿<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:700" rel="stylesheet">
<ion-view ng-class="{'dark-mode': checkdark()==='true'}" view-title="{{RSS.name}}">
  <ion-content overflow-scroll="true"  class="has-header">
      <ion-refresher on-refresh="doRefresh()" on-pulling="clearLocaleStorage()" refreshing-text="Идет загрузка" pulling-text="Потягнуть чтоб обновить" spinner="dots" > 
               </ion-refresher>
      <div ng-hide="progressing==0">
          <ion-spinner class="spinner-positive custom-spinner " icon="lines"></ion-spinner>
          <p class="custom-spinner-menu"> </p>
      </div>
      <div ng-show="internet_fail && server_fail" class="isa_error"> Подключитесь к интернету и обновите. </div>
      <div ng-show="server_fail && !internet_fail" class="isa_error">На серверах Апостроф идет обновление.</div>
      
    <div ng-if="RSS.image" >
    <ion-list>
      <ion-item ng-repeat="entry in entries"  class="card2  animated bounceInRight" ng-class="{'dark-mode': checkdark()==='true'}" on-tap="showArticle(entry.link)">
        <img ng-src="{{entry.enclosure['@attributes'].url}}" class="image-list-thumb" />
        <b style="white-space: normal !important;" class="headline hl1"  ng-class="{'test-mode':entry.read==='true'}" >{{entry.title}}</b><br>
          <div class="golden-date">
              <i class="icon ion-clock positive" style="margin:0% 1% 0% 0%"></i>
              {{entry.theDate | date: 'HH:mm, d MMM, y': 'GMT+0200'}}
          </div>
        <span style="white-space: normal !important;" ng-bind-html="entry.description" ng-style="{'font-size': checkblind()+'%', 'line-height':'120%'}"  ng-class="{'test-mode':entry.read==='true'}"></span>

      </ion-item>
    </ion-list>
    </div>
    <div ng-if="!RSS.image">
      <ion-list>
        <ion-item ng-repeat="entry in entries"  class="material news animated bounceInRight"  ng-class="{'dark-mode': checkdark()==='true'}" on-tap="showArticle(entry.link)" >
            <b style="white-space: normal !important;" class="headline hl2" ng-class="{'test-mode':entry.read==='true'}">{{entry.title}}</b><br>
            <div class="golden-date test-mode">
                <i class="icon ion-clock positive" style="margin:0% 1% 0% 0%"></i>
                 {{entry.theDate | date: 'HH:mm, d MMM, y': 'GMT+0200'}}
            </div>
            <span style="white-space: normal !important;" ng-bind-html="entry.description" ng-style="{'font-size': checkblind()+'%', 'line-height':'120%'}" ng-class="{'test-mode':entry.read==='true'}"></span><br>
          
         </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
