﻿<meta charset="UTF-8">
<ion-view title="Опции">
  <ion-content overflow-scroll="true" padding="true"  ng-class="{'dark-mode': checkdark()==='true'}" class="has-header">
    <form class="list">
      <ion-checkbox ng-repeat="item in SetList"
                    ng-checked="item.value"
                    ng-model="item.value"
                    ng-class="{'subdark': checkdark()==='true'}"
                    >
      {{item.name}}
        </ion-checkbox>
        <div  class="item item-divider"ng-class="{'subdark': checkdark()==='true'}">
            Выбрать размер шрифта
        </div>
        <div  class="item range range-royal subdark">
            <i class="icon ion-ios-minus-empty"></i>
            <input type="range" name="Text Size" min="100" max="200" ng-model="textsize.value">
            <i class="icon ion-ios-plus-empty"></i>
            <a>{{textsize.value}}%</a>
        </div>
        
        <div>
            <a class="button button-large button-positive button-settings" ng-click="apply()">{{Apply.name}}</a>
        </div>
        <div>
        <a class="button button-large button-assertive button-settings" ng-click="ccache()">{{CCache.name}}</a>
        </div>

    </form>
  </ion-content>
</ion-view>
